div.outline {
  border: 1px solid rgb(223, 198, 198);
  border-radius: 5px;
  margin: 4px;
  text-align: center;
  width: 180px;
}

input {
  width: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  border: 1px solid rgb(223, 198, 198);
}

label {
  display: inline-block;
  max-width: 100%;
  font-weight: bold;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

div {
  display: inline-block;

}

.save_btn {
  margin: 10px;
  height: 33px;
}

.save_btn :hover {
  color: blue;
}

i.fa.fa-pencil {
  background-color: #f44336;
  color: #edf1f5;
  padding: 3px;
  font-size: 10px;
  border-radius: 0px;
  /* border: 1px solid; */
}
