<ul id="global-buttons">
  <li>
    <a href="#">
      <!-- <i (click)='clearSelection(); setSelection("undo"); undo()' class="fa fa-undo"></i> -->
      <mat-icon (click)='clearSelection(); setSelection("undo"); undo()' aria-hidden="false"
        aria-label="Example home icon">undo</mat-icon>
      <span>Undo</span>
    </a>
  </li>
  <li>
    <a href="#">
      <!-- <i class="fa fa-repeat"></i> -->
      <mat-icon aria-hidden="false" aria-label="Example home icon">redo</mat-icon>
      <span>Redo</span>
    </a>
  </li>
  <!-- <li><a href="#"><i class="fa fa-cube"></i><span>_3D</span></a></li> -->
  <li><a href="#">
      <!-- <i class="fa fa-search-plus" (click)="handleZoom()"></i> -->
      <mat-icon aria-hidden="false" (click)="handleZoom()" aria-label="Example home icon">zoom_in</mat-icon>
      <span>Zoom</span>
    </a></li>
</ul>
