<div>
  <div class='hiddenPanel'>
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <h2>
      &nbsp;Add a Rectangle
    </h2>
  </div>
  <hr>
  <label class="heading">
    <input type="checkbox" /> Rounded Corner?
  </label>
  <form (ngSubmit)="onSubmit()" #rectangleForm="ngForm">
    <div class="form-group">
      <label class="form-label" for="length">Length (MM)</label>
      <input type="text" placeholder="0" class="form-control" id="rect_length" required [(ngModel)]="model.length"
        name="name" #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Length is required
      </div>
    </div>
    <div class="form-group">
      <label class="form-label" for="width">Width (MM)</label>
      <input type="text" placeholder="0" class="form-control" id="rect_width" required [(ngModel)]="model.width" name="name"
        #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Width is required
      </div>
    </div>
    <div class="form-group">
      <label class="form-label" for="depth">Depth (MM)</label>
      <input type="text" placeholder="0" class="form-control" id="rect_depth" required [(ngModel)]="model.depth" name="name"
        #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Depth is required
      </div>
    </div>
    <div class="form-group">
      <label class="form-label" for="notche">Finger Notches</label>
      <select class="form-select" id="rect_notche" required [(ngModel)]="model.fingerNotch" name="notche" #notche="ngModel">
        <option disabled>Set Finger Notches</option>
        <option *ngFor="let notch of notches" [value]="notch">{{notch}}</option>
      </select>
      <div [hidden]="notche.valid || notche.pristine" class="alert alert-danger">
        Finger Notche is required
      </div>
    </div>
    <button type="submit" mat-raised-button class="form-btn" [disabled]="!rectangleForm.form.valid">Add
      Rectangle</button>
      <li><img src="assets/rectangle_menu.png"></li>
  </form>
</div>
