body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #333333;
  background-color: #fff;
  height: 100%;
}

.example-container {
  position: absolute;
  top: 71px;
  bottom: 0;
  left: 0%;
  right: 0%;
}

.myCanv {
  padding: 0px;
  background: white;
  position: absolute;
  top: 0px;
  left: 5px;
  display: block;
  border-radius: 50px;
  margin-top: 70px;
  border: 1px solid rgb(43, 41, 41);
}

.heading {
  font-weight: bold;
  line-height: 38px;
  padding-left: 10px;
}

.mat-form-field+.mat-form-field {
  margin-left: 8px;
}

#hidden-buttons {
  position: absolute;
  left: calc(20% - 20px);
  list-style: none;
  margin-top: -2px;
  border: 1px solid #ccc;
  padding: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  padding-top: 12px;
  padding-bottom: 4px;
  border-radius: 0px;
  z-index: 10;
  color: white;
  background: rgb(8, 8, 8);
}

/* #global-buttons {
  position: absolute;
  left: calc(50% - 20px);
  list-style: none;
  margin-left: -150px;
  margin-top: -2px;
  border: 1px solid #ccc;
  padding: 8px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  padding-top: 12px;
  padding-bottom: 4px;
  border-radius: 7px;
  z-index: 10;
  background: #fff;
}

#global-buttons li {
  display: inline-block;
  text-align: center;
  margin-left: 7px;
  padding-left: 6px;
  width: 45px;
}

#global-buttons li:first-child {
  margin-left: 0;
}

#global-buttons li a {
  color: #000;
  width: 40px;
  display: inline-block;
  height: 40px;
  text-decoration: none;
}

#global-buttons li a i {
  font-size: 17px;
  margin-right: 0;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* #case-info {
  position: absolute;
  height: 44px;
  width: 130px;
  left: 20px;
  top: 0px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  background: #fff;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 30px;
  z-index: 1;
  overflow: hidden;
  border-radius: 7px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  line-height: 1.4;
  transition: 0.1s ease-in;
}

#case-info .expand {
  position: absolute;
  bottom: 7px;
  right: 3px;
  cursor: pointer;
}

#case-info.open {
  height: 110px;
  transition: 0.1s ease-in;
  line-height: 1.8;
}

#case-info .edit {
  margin-left: 5px;
}

a {
  color: #4d90fc;
  text-decoration: none;
}

.pull-right {
  float: right !important;
  margin-left: 5px;
} */

/* #layer-selector {
  position: absolute;
  right: 30px;
  top: 3px;
  z-index: 200;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
  border-radius: 7px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: 0px;
  background: inherit;
  height: 60px;
}

#layer-selector .title {
  padding: 2px 0px;
}

.text-center {
  text-align: center;
}

#layer-selector .select-box {
  z-index: 225;
}

.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

#layer-selector input {
  display: inline-block;
  width: 140px;
  border-bottom-left-radius: 7px;
  border-top-color: #e6e6e6;
  border-bottom-color: transparent;
  border-left-color: transparent;
  background-color: #fff;
  box-shadow: none;

  line-height: 24px;
  padding-top: 6px;
  padding-bottom: 3px;
  height: 13px;
  color: transparent;
  text-shadow: 0 0 0 #464849;
}

.input-sm, .input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

#layer-selector button[data-toggle="dropdown"] {
  margin-left: -2px;
  padding-top: 3px;
  padding-bottom: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 7px;
  border-top-color: #e6e6e6;
  border-bottom-color: transparent;
  border-right-color: transparent;
  box-shadow: none;
}

#layer-selector ul.dropdown-menu {
  width: 176px;
  padding-top: 0px;
  padding-bottom: 2px;
  margin-left: -1px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  cursor: pointer;
}

.btn {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 0.5px solid rgb(0, 0, 0);
  white-space: nowrap;
  padding: 3px 6px;
  font-size: 14px;
  line-height: 0.25;
  border-radius: 3px;
  margin-left: -5px;
  height: 24px;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
} */

/* ----------------------------------------- */

/* .container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.moveable {
  font-family: "Roboto", sans-serif;
  position: relative;
  width: 250px;
  height: 200px;
  text-align: center;
  font-size: 40px;
  margin: 0px auto;
  font-weight: 100;
  letter-spacing: 1px;
}

.moveable span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.label {
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px;
  border-radius: 5px;
  background: #333;
  z-index: 10;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  display: none;
  transform: translate(-100%, -100%);
  z-index: 3001;
} */

/* ----------------------------------------- */

.konva {
  text-align: center;
  margin-left: 5px;
  border-radius: 45px;
  background-color: rgb(197, 211, 201);
  margin-top: 70px;
}

.konvaContainer {
  color: black;
}

 div.outline {
  border: 1px solid rgb(223, 198, 198);
  border-radius: 5px;
  margin: 4px;
  text-align: center;
  width: 180px;
}

input {
  width: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  border: 1px solid rgb(223, 198, 198);
}

label {
  display: inline-block;
  max-width: 100%;
  font-weight: bold;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

div {
  display: inline-block;

}

.save_btn {
  margin: 10px;
  height: 33px;
}

.save_btn :hover {
  color: blue;
}
