<div class="" style="width: 30%;">
  <mat-sidenav opened mode="side">
    <app-sidenav (addShape)="addShape('image',$event)" (drawCircle)="addShape('circle',$event)"
      (drawRectangle)="addShape('rectangle',$event)"></app-sidenav>
  </mat-sidenav>
</div>

<div>
  <mat-sidenav-container class="example-container">
    <!-- navbar header -->
    <app-navbar></app-navbar>

    <!-- caseInfo menu -->
    <app-ejs-chnage-case-menu (editEvent)="handleEdit()" (expandEvent)="expandDiv('case-info')"
      [canvasProperties]='canvasProperties'></app-ejs-chnage-case-menu>

    <ul *ngIf="isShapeDragStarted" id="hidden-buttons">
      X : {{xAxis}} Y : {{yAxis}}
    </ul>

    <!-- global-buttons menu -->
    <app-global-button-menu (clearEvent)="clearSelection()" (setEvent)="setSelection($event)" (revertEvent)="undo()">
    </app-global-button-menu>

    <!-- tray-builder menu -->
    <app-ejs-tray-builder-menu (trayEvent)="handleTray()" (expandEvent)="expandDiv($event)"
      [canvasProperties]="canvasProperties"></app-ejs-tray-builder-menu>

    <!-- left side bar -->
    <mat-sidenav opened mode="side">
      <app-sidenav (addShape)="addShape('image',$event)" (drawCircle)="addShape('circle',$event)"
        (drawRectangle)="addShape('rectangle',$event)"></app-sidenav>
    </mat-sidenav>

    <!-- center canvas area -->
    <div>
      <canvas id='myCanvas' class="myCanv" width={{canvasProperties.canvasUpperWidth}}
        height={{canvasProperties.canvasUpperLength}} #myCanvas></canvas>
    </div>

    <div id="konvaContainer" class='konva' [style.width.px]="canvasProperties.canvasUpperWidth"
      [style.height.px]="canvasProperties.canvasUpperLength">
    </div>

    <!-- right side bar -->
    <mat-sidenav *ngIf='isPropertiesPanelShown' opened mode="side" position="end">
      <app-properties (makeClone)="startCloning($event)" [properties]=propertiesObject></app-properties>
    </mat-sidenav>

  </mat-sidenav-container>

  <!-- edit/resize foamcase -->
  <app-ejs-change-case (updateCaseFormEvent)="updateCanvasFormArea($event)" (submitForm)="onSubmit($event)" [canvasProperties]='canvasProperties' #changeCase>
  </app-ejs-change-case>

  <!-- traybuilder area -->
  <app-ejs-tray-builder (toggleTray)="hideBuilderTray()" [canvasProperties]='canvasProperties' #trayChild>
  </app-ejs-tray-builder>

</div>
