#nav {
  height: 72px;
  /* background-color: #202e3e; */
  background-color: #FFF;
  border: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  top: 0;
  border-width: 0 0 1px;
  position: fixed;
  right: 0;
  left: 205px;
  z-index: 1030;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}

.center-logo {
  position: absolute;
  left:25px;
  margin-top:5px;
}

.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}

.icon {
  margin-left: 10px;
  margin-bottom: 5px;
}

.icon-sm {
  margin-left: 4px;
  margin-bottom: 5px;
}

.hamburger {
  vertical-align: middle;
  margin-left: 20px;
  font-size: 35px;
}

i.fas.fa-save {
  font-size: 15px;
  margin-top: -4px;
}
.menu_bar{
  color:  rgb(32 46 62)  !important;

  margin-top: 25px;
  margin-left: 25px !important;
}

.savee_btn {

  height: 32px;
  background-color:#11b142!important;
  margin-top: 20px;
  color: #FFF;
  float: right;
}

.save_btn :hover {
  color: #fff;
}

.register {
  margin-right: 20px;
  margin-top: 30px;
  float: right;
  cursor: none;
}
.login {
  margin-right: 30px;
  margin-top: 30px;
  float: right;
  cursor: none;
}

.register:hover {
  cursor: pointer;
  color: rgb(91, 91, 207);
}
.login:hover {
  cursor: pointer;
  color: rgb(91, 91, 207);
}
