<div id="nav">

  <!-- <button mat-icon-button color="white" aria-label="Example icon button with a menu icon">
    <mat-icon class="hamburger menu_bar">menu</mat-icon>
  </button>
  <button class="save_btn" mat-raised-button> <i class="fas fa-save"></i> &nbsp; SAVE YOUR DESIGN</button> -->

  <!-- <label class="register" (click)='accountClick("register")'>CREATE ACCOUNT</label>
  <label class="login" (click)='accountClick("login")'>LOGIN</label> -->

  <div *ngIf='isAccountClicked'>
    <app-accounthandler (close)='close()' [accountData]='accountData'></app-accounthandler>
  </div>

</div>
