<div id="nav">
  <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
    <mat-icon class="hamburger">menu</mat-icon>
  </button>
  <button class="save_btn" mat-raised-button>SAVE YOUR DESIGN</button>
  <a class="center-logo" href="http://mycasebuilder.eu">
    <img src="https://i.ibb.co/LksKDZJ/MCB-Logo-RGB.png" style="height: 58px; width: auto;">
  </a>
  <!-- <label class="register" (click)='accountClick("register")'>CREATE ACCOUNT</label>
  <label class="login" (click)='accountClick("login")'>LOGIN</label> -->

  <div *ngIf='isAccountClicked'>
    <app-accounthandler (close)='close()' [accountData]='accountData'></app-accounthandler>
  </div>

</div>


