<div class="right_tab">
  <div>
    <input id="shape_name" type="text" [(ngModel)]="properties.shape_name" placeholder="Unnamed Shape" autocomplete="off"
      style="margin-left: 20px; margin-top: 10px; width: 85%" /><br>
    <label style="margin-left: 20px;" for="">{{properties.length}}mm X {{properties.width}}mm X
      {{properties.depth}}mm</label>
  </div>
  <hr>
  <div>
    <ul>
      <li><a (click)="handleClone()" >Clone</a></li>
      <li><a>Tools</a></li>
      <li><a>Align</a></li>
      <li><a>Delete</a></li>
    </ul>
  </div>
  <hr>
  <h3 style="margin-left: 20px; margin-bottom: 10px;">Groups</h3>
  <div>
    <ul>
      <li><a>Group</a></li>
      <li><a>Ungroup</a></li>
      <li><a>Merge</a></li>
    </ul>
  </div>
  <hr>
  <h3 style="margin-left: 20px; margin-bottom: 10px;">Lock</h3>
  <div>
    <ul>
      <li><a>Lock</a></li>
    </ul>
  </div>
  <hr>
  <h3 style="margin-left: 20px; margin-bottom: 10px;">Private Library</h3>
  <div>
    <ul>
      <li><a>Add to Library</a></li>
    </ul>
  </div>
  <hr>
  <h3 style="margin-left: 20px; margin-bottom: 10px;">Flip / Mirror</h3>
  <div>
    <ul>
      <li><a>Flip</a></li>
      <li><a>Mirror</a></li>
    </ul>
  </div>
  <hr>
  <div>
    <table style="margin-left: 20px;">
      <h3 style="margin-left: 0px; margin-bottom: auto;">Position</h3>
      <tr>
        <th>X</th>
        <th>Y</th>
        <th>Angle</th>
      </tr>
      <tr>
        <td>
          <input id="x-axis" [(ngModel)]="properties.xLoc" type="number" autocomplete="off" style="width: 50px;" />
        </td>
        <td>
          <input id="y-axis" [(ngModel)]="properties.yLoc" type="number" autocomplete="off" style="width: 50px;" />
        </td>
        <td>
          <input id="angle" [(ngModel)]="properties.angle" type="number" autocomplete="off" style="width: 50px;" />
        </td>
      </tr>
      <tr>
        <th>Length</th>
        <th>Width</th>
        <th>Depth</th>
      </tr>
      <tr>
        <td>
          <input id="length" [(ngModel)]="properties.length" type="number" autocomplete="off" style="width: 50px;" />
        </td>
        <td>
          <input id="width" [(ngModel)]="properties.width" type="number" autocomplete="off" style="width: 50px;" />
        </td>
        <td>
          <input id="depth" [(ngModel)]="properties.depth" type="number" autocomplete="off" style="width: 50px;" />
        </td>
      </tr>

    </table>
    <hr>
    <h3 style="margin-left: 20px;">Tray/Layer</h3>
  </div>
</div>
