.row {
  margin-left: -15px;
  margin-right: -15px;
}

.draw_shapes_grid{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  grid-gap: 1rem;
  background-color: rgb(241, 243, 242);
  padding: 10px;
}
.btn.btn-default.Zoom {
 
  border: 1px solid;
}

.check_box{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  grid-gap: 1rem;
}

.snap_to_grid{
  text-align: center;
  display:flex;
 justify-content: center;
 place-items: center;
}
.draw-info p{

  font-size: 15px;
  padding: 5px 0px;
  margin-left: -15px;
  font-weight: 500;
}
.header_modal h1{
  color: #202e3e;
  text-transform: uppercase;
   
}
.btn-default{
  margin-right: 10px;
  text-transform: uppercase;
  border: 1px solid #202e3e;
}
.e-dialog .e-dlg-header-content {
  border-bottom: none;
  padding: 18px 15px 0px 15px;
  background-color: #e7eaea;
  margin-bottom: 10px;
}

.Zoom{
  background-color: aquamarine;
  border: 1px solid red;
}


.col-md-12 {
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

.editables .btn-group {
  display: inline-block;
}
.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.btn-group > .btn:first-child {
  margin-left: 0;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-default:active,
.btn-default.active,
.open > .btn-default.dropdown-toggle {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

.editables .input-group {
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.editables .input-group input {
  width: 100px;
  height: 22px;
}
.editables .input-group .input-group-addon {
  width: 55px;
  height: 22px;
  padding: 1px 10px;
  display: inline-block;
}
.input-group-addon:last-child {
  border-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

fieldset[disabled] .btn.disabled {
  pointer-events: none;
}
fieldset[disabled] a.btn {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.editables .btn-primary {
  margin-left: 15px;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  border: 1px solid #e9c5c5;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
input {
  line-height: normal;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
fieldset[disabled] .form-control {
  background-color: #eeeeee;
  opacity: 1;
}
.editables .input-group input {
  width: 100px;
  height: 22px;
}
.editables .input-group .input-group-addon {
  width: 55px;
  height: 22px;
  padding: 1px 10px;
  display: inline-block;
}
.input-group-addon:last-child {
  border-left: 0;
}
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  border-radius: 0;
}
.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}
a {
  color: #4d90fc;
  text-decoration: none;
}
.help-zone {
  z-index: +1;
  padding-top: 3px;
  position: absolute;
}
.col-xs-12 {
  width: 100%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.help-zone .alert {
  margin-right: 25px;
  padding: 5px;
  box-shadow: none;
}
.modal-container .alert {
  margin: 0;
  margin-bottom: 5px;
}
p {
  margin: 0 0 10px;
}

canvas {
  border-radius: 3px;
  margin-top: -1px;
}
#drawCanvas {
  background-color: rgb(233, 219, 219);
  cursor: crosshair;
  width: 100%;
}
.e-btn.e-icon-btn,
.e-css.e-btn.e-icon-btn {
  padding: 1px 7px 4px;
}

.modal-footer {
  padding: 5px;
  border-top: none;
}
.modal-footer {
  padding: 15px;
   
  border-top: 1px solid #e5e5e5;
  
}
.zoomable .btn {
  margin-right: 5px;
}
.btn-default,
.btn-default:focus {
  background-image: linear-gradient(to bottom, #ffffff 60%, #f8f8f8 100%);
}
.col-sm-3 .col-sm-9 .col-sm-7 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.input-sm,
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
