.img__btm img {
  width: 50%;
  display: grid;
  margin: 30px auto 0px;
  padding: 10px;
}

.form-group {
  margin-top: 20px;
}

.form-label {
  margin-left: 5px;
  font-weight: bold;
}

.form-control {
  display: block;
  width: 95%;
  padding: 5px;
  font-size: 14px;
  margin-left: 0px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.form-select {
  width: 100%;
  height: 35px;
  padding: 0px 5px;
  font-size: 14px;
  margin-left: 0px;
  margin-top: 5px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.radioStyle {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  display: inline-block;
  order: 0;
  line-height: inherit;
  padding-left: 8px;
  padding-right: 8px;
  vertical-align: middle;
}

.form-btn {
  margin-left: 5px;
  margin-top: 20px;
  width: 95%;
  background-color: #202e3e;
  color: #FFF;
  text-transform: uppercase;
}

.hiddenPanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.hiddenPanel a:hover {
  color: #f1f1f1;
}

li {
  list-style-type: none;
  margin-left: 25px;
}

.hiddenPanel .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  margin-left: 50px;
  color: #202e3e;
}

.errmsg, p {
  font-size: 12px;
  color: red;
  margin-top: 2px;
}

input {
  margin-top: 5px;
}
